<h1>Sign Up for Giftwise</h1>

<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm Password" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
<div>
  <p> Or sign up with <%= link_to "Google","/auth/google_oauth2" %> </p>
</div>
</div>
<%= link_to "Log in", login_path %>
