<h1><%= recipient.name %></h1>

<p><strong>Birthday:</strong> <%= recipient.birthday %></p>
<p><strong>Age:</strong> <%= display_age(recipient) %></p>
<p><strong>Gender:</strong> <%= recipient.gender %></p>
<p><strong>Relation:</strong> <%= recipient.relation %></p>
<p><strong>Occupation:</strong> <%= recipient.occupation %></p>
<p><strong>Hobbies:</strong> <%= simple_format(recipient.hobbies) %></p>
<p><strong>Extra Information:</strong> <%= simple_format(recipient.extra_info) %></p>
<p><strong>Likes:</strong></p>
<% if recipient.likes.present? %>
  <ul>
    <% recipient.likes.each do |like| %>
      <% if like.match(/^[a-zA-Z]/) %>
        <li><%= like %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No likes specified</p>
<% end %>

<p><strong>Dislikes:</strong></p>
<% if recipient.dislikes.present? %>
  <ul>
    <% recipient.dislikes.each do |dislike| %>
      <% if dislike.match(/^[a-zA-Z]/) %>
        <li><%= dislike %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No dislikes specified</p>
<% end %>
