<h1>Edit Recipient</h1>

<%= form_with model: @recipient, local: true do |f| %>
  <div>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :birthday, "Birthday (if known)" %><br>
    <%= f.date_field :birthday %>
  </div>
  <% if @recipient.birthday.blank? %>
    <div style="margin-top: 0.75rem;">
      <%= f.label :min_age, "Age Range (min) (if birthday unknown)" %><br>
      <%= f.number_field :min_age, disabled: @recipient.birthday.present? %>
    </div>

    <div style="margin-top: 0.75rem;">
      <%= f.label :max_age, "Age Range (max) (if birthday unknown)" %><br>
      <%= f.number_field :max_age, disabled: @recipient.birthday.present? %>
    </div>
    <% end %>

  <div>
    <%= f.label :gender, "Gender" %><br>
    <%= f.select :gender, [["Male", "male"], ["Female", "female"], ["Other", "other"]] %>
  </div>

  <div>
    <%= f.label :relation, "Relation" %><br>
    <%= f.text_field :relation %>
  </div>

  <div>
    <%= f.label :occupation, "Occupation (optional)" %><br>
    <%= f.text_field :occupation %>
  </div>

  <div>
    <%= f.label :hobbies, "Hobbies (optional)" %><br>
    <%= f.text_area :hobbies, rows: 3 %>
  </div>

  <div>
    <%= f.label :extra_info, "Extra Information (optional)" %><br>
    <%= f.text_area :extra_info, rows: 4 %>
  </div>

  <div>
    <%= f.label :likes, "Likes" %><br>
    <%= f.collection_check_boxes :likes, Recipient::LIKES_OPTIONS, :to_s, :to_s %>
  </div>

  <div>
    <%= f.label :dislikes, "Dislikes" %><br>
    <%= f.collection_check_boxes :dislikes, Recipient::DISLIKES_OPTIONS, :to_s, :to_s %>
  </div>

  <div>
    <%= f.submit "Update Recipient" %>
  </div>
<% end %>

<%= link_to "Back to Recipients", recipients_path %>
<%= link_to "Back to Home", homepage_path %>
