<h1>All Recipients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Relation</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= link_to recipient.name, recipient_path(recipient) %></td>
        <td><%= recipient.age %></td>
        <td><%= recipient.gender %></td>
        <td><%= recipient.relation %></td>
        <td>
          <% if recipient.likes.present? %>
            <ul style="margin: 0; padding-left: 1rem;">
              <% recipient.likes.each do |like| %>
                <% if like.match(/^[a-zA-Z]/) %>
                  <li style="margin: 0.2rem 0;"><%= like %></li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <em>No likes</em>
          <% end %>
        </td>
        <td>
          <% if recipient.dislikes.present? && !(recipient.dislikes == '') %>
            <ul style="margin: 0; padding-left: 1rem;">
              <% recipient.dislikes.each do |dislike| %>
                <% if dislike.match(/^[a-zA-Z]/) %>
                  <li style="margin: 0.2rem 0;"><%= dislike %></li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <em>No dislikes</em>
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_recipient_path(recipient) %>
          <%= link_to "Delete", recipient_path(recipient), data: { turbo_method: :delete } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add New Recipient", new_recipient_path %> |
<%= link_to "Back to Home", homepage_path %>
