<h1>Add Gift Recipient</h1>

<%= form_with model: @recipient, url: recipients_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :birthday, "Birthday" %><br>
    <%= f.date_field :birthday %>
  </div>

  <div style="margin-top: 0.75rem;">
    <%= f.label :age, "Age" %><br>
    <%= f.number_field :age %>
  </div>

  <div style="margin-top: 0.75rem;">
    <%= f.label :gender, "Gender" %><br>
    <%= f.select :gender, [["Male", "male"], ["Female", "female"], ["Other", "other"]] %>
  </div>

  <div style="margin-top: 0.75rem;">
    <%= f.label :relation, "Relation" %><br>
    <%= f.text_field :relation %>
  </div>

  <div style="margin-top: 0.75rem;">
    <%= f.label :likes, "Likes" %><br>
    <%= f.collection_check_boxes :likes,["Reading", "Sports", "Music", "Cooking", "Traveling", "Art", "Technology","Gardening", "Photography", "Dancing", "Movies", "Video Games", "Pets","Fashion", "Fitness", "Writing", "Puzzles", "Board Games", "Hiking","Swimming", "Cycling", "Yoga", "Meditation", "Volunteering", "Theater","Concerts", "Camping", "Fishing", "Golf", "Tennis", "Basketball", "Soccer"], :to_s, :to_s %>
  </div>

  <div style="margin-top: 0.75rem;">
    <%= f.label :dislikes, "Dislikes" %><br>
    <%= f.collection_check_boxes :dislikes, ["Spicy Food", "Loud Noises", "Crowds", "Heights", "Insects", "Cold Weather","Hot Weather", "Math", "Cleaning", "Driving", "Flying","Seafood", "Perfume", "Strong Smells", "Bright Lights", "Darkness"], :to_s, :to_s %>
  </div>

  <div style="margin-top: 0.75rem;">
    <%= f.submit "Add Recipient" %>
  </div>
<% end %>

<%= link_to "Back to Home", homepage_path %>
