<h1>Homepage</h1>

<p>Welcome, <%= current_user.name.presence || current_user.email %></p>

<h2>Actions</h2>
<ul>
  <li><%= link_to "View Profile", user_path(current_user) %></li>
  <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
  <li><%= link_to "View All Recipients", recipients_path %></li>
  <li><%= link_to "Add New Recipient", new_recipient_path %></li>
</ul>

<%= link_to "Log out",
            logout_path,
            data: { turbo_method: :delete },
            "data-test": "logout" %>
