<h1>Homepage</h1>

<p>Welcome, <%= current_user.name.presence || current_user.email %></p>

<div class="tabs">
  <%= link_to "Overview", homepage_path(tab: "overview"), data: {turbo_action: "advance", turbo_frame: "tab_content" }, class: "tab" %>
  <%= link_to "Gift Recipients", homepage_path(tab: "recipients"), data: {turbo_action: "advance", turbo_frame: "tab_content" }, class: "tab" %>
  <%= link_to "Gift Lists", homepage_path(tab: "lists"), data: {turbo_action: "advance", turbo_frame: "tab_content" }, class: "tab" %>
  <%= link_to "Events", homepage_path(tab: "events"), data: {turbo_action: "advance", turbo_frame: "tab_content" }, class: "tab" %>
</div>

<turbo-frame id="tab_content">
  <%= render "home/tabs/#{@tab}" %>
</turbo-frame>


  <div style="flex: 1;">
    <!-- Space for future content -->
  </div>



<br>
<%#= link_to "Gifts", gifts_path %>
