<h1>New Gift in <%= @gift_list.name  %></h1>

<%= form_with model: [@gift_list, @gift] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.collection_select :recipient_id,
                               @user_recipients,
                               :id,
                               :name,
                               prompt: "Select a recipient" %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "Cancel", :back %>

<% if @gift.errors.any? %>
  <div class="error-messages">
    <h3><%= pluralize(@gift.errors.count, "error") %> prevented saving:</h3>
    <ul>
      <% @gift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


