<h1>New Gift List</h1>

<%= form_with model: [@recipient, @gift_list] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>

  </div>
  <div>
    <%= form.label :recipient_id, "Assign to Recipient" %>
    <%= form.collection_select :recipient_id,
                               @user_recipients,
                               :id,
                               :name,
                               prompt: "Select a recipient" %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "Cancel", :back %>