<h1>New Gift List</h1>

<%= form_with model: @gift do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "Cancel", gift_lists_path %>