<%= form_with(model: @event_recipient_budget, local: true) do |form| %>

    <div class="field">
        <%= form.label :budget, "Total Budget" %><br>
        <%= form.number_field :budget, step: 0.01 %>
    </div>

    <div class="field">
        <%= form.label :spent, "Spent Budget" %><br>
        <%= form.number_field :spent, step: 0.01 %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>